<p id="notice"><%= notice %></p>

<h1>Messages</h1>






  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content.upcase %></td>










        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>



<%= render 'form', message: @message %>

<%= link_to 'New Message', new_message_path %>
