<div style="margin:5%">
<% if user_signed_in? %>

<% if @destinataire_id != @user.id -%>

<h1> Chat box entre vous et <%= @destinataire %> </h1>

<table class="table table-striped table-bordered">
	<th><%= @destinataire %></th>
	<th width="15%">date</th>
	<th><%= @user.last_name %></th>
	<% @messages.sort_by(&:created_at).each do |m| %>
	<tr>
		<%if m.user_id == m.dest_user_id%>
		<% elsif m.user_id != @user.id-%>
		<td width="45%"><%= m.content -%></td>
		<td><%= m.created_at.strftime("%A at %T")  -%></td>
		<td></td>
		<% else -%>
		<td></td>
		<td><%= m.created_at.strftime("%A at %T")  -%></td>
		<td width="45%"><%= m.content -%></td> 
	</tr>
	<% end %>
	<% end %>
</table>

<% else -%>
<h1> Chat box entre vous et <%= @expediteur %> </h1>


<table class="table table-striped table-bordered">
	<th><%= @expediteur %></th>
	<th width="15%">date</th>
	<th><%= @user.last_name %></th>
	<% @messages.sort_by(&:created_at).each do |m| %>
	<tr>
		<%if m.user_id == m.dest_user_id%>
		<% elsif m.user_id != @user.id-%>
		<td width="45%"><%= m.content %></td>
		<td><%= m.created_at.strftime("%A at %T")  -%></td>
		<td></td>
		<% else -%>
		<td></td>
		<td><%= m.created_at.strftime("%A at %T")  -%></td>
		<td width="45%"><%= m.content -%></td> 
	</tr>
	<% end -%>
	<% end -%>
	<% end -%>
</table>

<%= form_with(model: @message, local: true) do |form| %>

<div class="field">
	<%= form.label :content, "Saisisssez votre message :" %>
	<%= form.text_area :content, id: 'message_tag', size: "160%" %>

	<%= hidden_field_tag "dest_id", params[:format] %>
	<div class="actions">
		<%= form.submit "Envoyer", class: "btn btn-styled btn-base-1 mt-3" %>
	</div>
	<% end %>
</div>

<% end -%>

</div>