<p id="notice"><%= notice %></p>
<h1>Messages</h1>
<div class="display_mess" style="margin-bottom:15% ">
  <table class="table table-striped table-bordered" style="width:100%">
    <th><%= @user.last_name%></th>
    <th><%= User.find(Message.find(params[:id]).user_id).last_name%></th>
    <tbody>
      <br>
      <tr>
        <% @messages_to_display = []%>
        <% @messages.each do |message| %>
        <% if message.user_id == @user.id %>
        <td><%= message.content %></td>
        <td></td>
        <% elsif message.user_id == params[:id] %>
        <td></td>
        <td><%= message.content %></td> 
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>