
<h1> BONJOUR <%= User.find(@user.id).last_name %> </h1>

<% @messages.each do |m| %>
<%= User.find(m.user_id).last_name -%>
<%= m.content -%> <br> 
<%= User.find(m.dest_user_id).last_name -%> <br>
<% end %>

<h2> Chat box entre vous et <%= @destinataire %> </h2>

<table class="table table-striped table-bordered">
  <th><%= @destinataire %></th>
  <th><%= @user.last_name %></th>
  <tr>
    <td>a</td>
    <td>b</td> 
    </tr>
  </table>