<h2>Mes échanges</h2>
<h3>Articles demandés</h3>
<% @asked_exchange.each do |asked| %>
  Vous avez demandé: <%= @article.find_by(id: asked.owner_article_id).title %>
  <br>
  à: <%= @user.find(asked.owner_user_id).first_name %> <%= @user.find(asked.owner_user_id).last_name %>
  <br>
<% end %>
<h3>On m'a demandé</h3>
<% @my_exchange.each do |exc| %>
  <%= @user.find(exc.applicant_user_id).first_name %> <%= @user.find(exc.applicant_user_id).last_name %>
  <br>
  aimerait votre: <%= @article.find_by(id: exc.owner_article_id).title %>
  <br>
<% end %>
