<div class="jumbotron", style="margin-bottom: 0.1%">
	<h2>Vos demandes</h2>
	<h3>J'ai demandé : </h3>

	<% @i_asked.each do |i| %>

	<div style="display: flex" >
		<div style="height: 100px ">
			à
			<%= @users.find(i.owner_user_id).first_name.capitalize %>
			<% if @users.find(i.owner_user_id).avatar? %>
			<%= image_tag @users.find(i.owner_user_id).avatar %>
			<% else %>
			<%= image_tag "avatar-1606916_960_720.png", style:"height: 100%" %>
			<% end %>
		</div>

		<div style="height: 100px">
			d'echanger :
			<%= @article.find(i.owner_article_id).title %>
			<% if @article.find(i.owner_article_id).image? %>
			<%= image_tag @article.find(i.owner_article_id).image %>
			<% else %>
			<%= image_tag "no_image.png", style:"height: 100%"  %>
			<% end %>
		</div>

		<div style="height: 100px">
			Contre :
			<%= @article.find(i.applicant_article_id).title %>
			<% if @article.find(i.applicant_article_id).image? %>
			<img src="<%= @article.find(i.applicant_article_id).image %>", style="height: 100%"></a>
			<% else %>
			<%= image_tag "no_image.png", style:"height: 100%"  %>
			<% end %>
		</div>
	</div>

	<% end -%>

	<h2>Leurs propositions</h2>

	<h2>Ils m'ont demandé (en attente)</h2>

	<% @they_asked.each do |t| %>


	<div style="display: flex" >
		<div style="height: 100px ">
			<%= @users.find(t.applicant_user_id).first_name.capitalize %>
			<% if @users.find(t.owner_user_id).avatar? %>
			<%= @users.find(t.owner_user_id).avatar %>
			<% else %>
			<%= image_tag "avatar-1606916_960_720.png", style:"height: 100%" %>
			<% end %>
		</div>

		<div style="height: 100px">
			d'echanger :
			<%= @article.find(t.owner_article_id).title %>
			<% if @article.find(t.owner_article_id).image? %>
			<%= @article.find(t.owner_article_id).image %>
			<% else %>
			<%= image_tag "no_image.png", style:"height: 100%"  %>
			<% end %>
		</div>

		<div style="height: 100px">
			Contre :
			<%= @article.find(t.applicant_article_id).title %>
			<% if @article.find(t.applicant_article_id).image? %>
			<img src="<%= @article.find(t.applicant_article_id).image %>", style="height: 100%"></a>
			<% else %>
			<%= image_tag "no_image.png" %>
			<% end %>
		</div>
		<br>
	</div>
	<br>
	<br>
		<div>
			<%= link_to 'Accepter', exchange_path(id: t.id, valid: true), :data => {:confirm => 'Etes-vous sur de vouloir accepter l\'échange'}, class:"btn btn-styled btn-success" %>
			<%= link_to 'Refuser', exchange_path(id: t.id, valid: false), :data => {:confirm => 'Etes-vous sur de vouloir refuser l\'échange'}, class:"btn btn-styled btn-danger" %>
			<br>
			<br>
		</div>
	<% end %>


	<h2>Historique de transaction</h2>

	<% @transactions.each do |t| %>
	<div style="display: flex" >
		<div style="height: 100px ">

			<%= User.find(t.applicant_user_id).first_name.capitalize %>
			<% if User.find(t.applicant_user_id).avatar? %>
			<img src="<%= User.find(t.applicant_user_id).avatar %>", style="height: 100%">
			<% else %>
			<%= image_tag "avatar-1606916_960_720.png", style:"height: 100%" %>
			<% end -%>
		</div>
		<div style="height: 100px ">
			et
			<%= User.find(t.owner_user_id).first_name.capitalize %>
			<% if User.find(t.owner_user_id).avatar? %>
			<img src="<%= User.find(t.owner_user_id).avatar %>", style="height: 100%">
			<% else %>
			<%= image_tag "avatar-1606916_960_720.png", style:"height: 100%" %>
			<% end -%>
			<br>
		</div>
		<div style="height: 100px ">
			Ont échangé l'artice:
			<%= @article.find(t.applicant_article_id).title %>
			<% if @article.find(t.applicant_article_id).image? %>
			<img src="<%= @article.find(t.applicant_article_id).image %>", style="height: 100%"></a>
			<% else %>
			<%= image_tag "no_image.png" %>
			<% end %>
		</div>
		<div style="height: 100px ">
			contre l'article:
			<%= @article.find(t.owner_article_id).title %>
			<% if @article.find(t.applicant_article_id).image? %>
			<img src="<%= @article.find(t.applicant_article_id).image %>", style="height: 100%"></a>
			<% else %>
			<%= image_tag "no_image.png" %>
			<% end %>
		</div>
		<div>
			<% if t.status == true %>
			<br>
			<h4>Echange validé</h4>
			<% else %>
			<br>
			<h4>Echange annulé</h4>
			<% end %>
		</div>
	</div>
	<% end %>
</div>
