<h2>J'ai demandé (en attente)</h2>
<% @i_asked.each do |i| %>
J'ai demandé <%= @article.find(i.owner_article_id).title %> à <%= @user.find(i.owner_user_id).first_name %>
<br>
Contre mon article: <%= @article.find(i.applicant_article_id).title %>
<br>
<br>
<% end %>

<h2>Ils m'ont demandé (en attente)</h2>
<% @they_asked.each do |t| %>
<%= @user.find(t.applicant_user_id).first_name %> me demande: <%= @article.find(t.owner_article_id).title %>
<br>
Contre: <%= @article.find(t.applicant_article_id).title %>
<br>
<%= link_to 'Accepter', exchange_path(t.id), :data => {:confirm => 'Etes-vous sur de vouloir accepter l\'échange'} %>
<br>
<% end %>
