<% user = @user %> <!-- @user.all -->
<% they_asked = @they_asked.where(applicant_article_id: nil) %> <!-- they asked to me -->
<% i_asked = @i_asked.where(applicant_article_id: nil) %> <!-- I asked to them (without ) -->
<% awaiting_exchange = @exchange.
                                where.not(applicant_article_id: [nil, ""]).
                                where(owner_user_id: current_user.id).
                                or(@exchange.
                                            where.not(applicant_article_id: [nil, ""]).
                                            where(applicant_user_id: current_user.id)) %>

<% print awaiting_exchange %>

<h2>Mes échanges</h2>
<h3>Articles demandés</h3>
<% they_asked.each do |they| %>
  Vous avez demandé: <%= link_to "#{@article.find_by(id: they.owner_article_id).title}", article_path(@article.find_by(id: they.owner_article_id)) %>
  <br>
  à: <%= link_to "#{user.find(they.owner_user_id).first_name} #{user.find(they.owner_user_id).last_name}", user_path(user.find(they.owner_user_id)) %>

  <br>
<% end %>
<h3>On m'a demandé</h3>
<% i_asked.each do |i| %>
  <%= link_to "#{user.find(i.applicant_user_id).first_name} #{user.find(i.applicant_user_id).last_name}", user_path(user.find_by(id: i.applicant_user_id)) %>
  <br>
  Aimerait votre article: <%= link_to "#{@article.find_by(id: i.owner_article_id).title}", article_path(@article.find_by(id: i.owner_article_id)) %>

  <br>
<% end %>

<h3>Echange en attente de validation</h3>
<% awaiting_exchange.each do |awaiting| %>
  <%= link_to "#{user.find(awaiting.applicant_user_id).first_name} #{user.find(awaiting.applicant_user_id).last_name}", user_path(user.find_by(id: awaiting.applicant_user_id)) %>
  <br>
  Aimerait votre article: <%= link_to "#{@article.find_by(id: awaiting.owner_article_id).title}", article_path(@article.find_by(id: awaiting.owner_article_id)) %>
  <br>
  Contre votre article: <%= link_to "#{@article.find_by(id: awaiting.owner_article_id).title}", article_path(@article.find_by(id: awaiting.owner_article_id)) %>

  <%= link_to "Accepter échange", exchange_path(awaiting) %>
<% end %>
