<h2>Créer un échange</h2>
Vous souhaitez obtenir: <%= @article.title %> de <%= @user.first_name %> <%= @user.last_name %>
<br>
Choisissez l'un de vos article en échange:
<%= form_for @exchange do |f| %>

  <% @options.each do |opt| %>
  <%= radio_button_tag(:article_id, opt.id) %>
  <%= label_tag(:article_title, opt.title) %>
  <% end %>

  <%= f.hidden_field :owner_article_id, value: params[:article_id] %>
  <%= f.hidden_field :owner_id, value: params[:owner_id] %>

  <%= f.submit %>
<% end %>
