
<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-45.jpg); background-position: bottom center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-title">
            <h5 class="heading heading-5 strong-500">
             >Creer son profil
            </h5>
          </div>
          <div class="card-body">
            <%= simple_form_for (@user) do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Prenom %><br />
                  <%= f.text_field :first_name, autocomplete: "Prenom", class:"form-control form-control-lg" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Nom %><br />
                  <%= f.text_field :last_name, autocomplete: "Nom", class:"form-control form-control-lg" %>
                </div>
              </div>
            </div>
            <span class="space-md-md"></span>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Pseudonyme %><br />
                  <%= f.text_field :pseudo, autocomplete: "Pseudonyme", class:"form-control form-control-lg" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Mot_de_passe %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "mot de passe", class:"form-control form-control-lg" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Confirmation_du_mot_de_passe %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "confirmation du mot de passe", class:"form-control form-control-lg" %>
                </div>
              </div>
            </div>
            <span class="space-md-md"></span>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :ville %><br />
                  <%= f.text_field :ville, autocomplete: "ville", class:"form-control form-control-lg" %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :telephone %><br />
                  <%= f.text_field :phone, autocomplete: "telephone", class:"form-control form-control-lg" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :avatar %><br />
<<<<<<< HEAD
                  <%= f.input :avatar, as: :file %>
=======
                  <%= f.file_field :avatar, "avatar", class:"custom-input-file", :data => { :description => {count} files selected}
                   %>
                  class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
                  :data => { :description => entry.caption, :title => entry.caption }
>>>>>>> edaff7bb598337799ee1e9bca0161164a27a8e43
                </div>
              </div>
            </div>
            <div class="actions">
              <%= f.button :submit, class: "btn btn-styled btn-base-1 mt-3" %>
            </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div><!-- END: body-wrap -->

