

<h3><center>Articles#index</center></h3><br>
<h2> les derniers articles</h2>
<%= link_to 'mon profil', user_path(current_user.id) %>

<% @articles.each do |article| %>
<h3><%= link_to "#{article.title}", article_path(article) %></h3>
<img src = "<%= article.image %>">
  <h3><%= article.title %></h3>
  
  <%= article.description %>



<% end %>

