

<h2>Créer un article</h2>
<%= simple_form_for @article do |f| %>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= select_tag :category_id, options_for_select(Category.all_category) %>
  </div>

  <div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image,as: :file %>
</div>

  <div class="actions">
    <%= f.button :submit%>
  </div>
<% end %>

