

    <div class="articles-grid">
      <ul id="flexiselDemo1">
        
        <li>
             <div class = "<%= @article%>-title">
          <h2><%= @article.title %></h2>
        </div>
          <img src = "<%= @article.image %>">
          <br>
          <div class="<%= @article%>-info">
         
            <div class="model">
              <h2><p<%= @article.description %><span><%= @article.description %></p></span></h2>
            </div>
          	<div class = "<%= @article%>-size">
          		<h4>Size: <i><%= @article.size %></i></h4>
          	</div>


            
            <div class="model-info">
              <%= link_to "home", "/" %>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="look">
          <%= link_to "Show", article_path %>
          </div>
        </li>
      
      </ul>
	</div>
</div>



