<div class="product">
	 <div class="container">
		 <div class="ctnt-bar cntnt">
			 <div class="content-bar">
				 <div class="single-page">
					 <div class="product-head">
						<a href="index.html">Home</a> <span>::</span>	
						</div>

						<!--//details-product-slider-->
					 <div class="details-left-slider">
						 <div class="grid images_3_of_2">
						  <ul id="etalage">
							<li>
								<a href="optionallink.html">
									
									<%= image_tag "1.jpg", class: "etalage_source_image img-responsive", title: "" %>
								</a>
							</li>
							<li>
								
								<%= image_tag "2.jpg", class: "etalage_source_image img-responsive", title: "" %>
							</li>
							<li>
								<%= image_tag  "3.jpg", class: "etalage_source_image img-responsive"  %>
							</li>
						    <li>
								
								<%= image_tag "4.jpg", class: "etalage_source_image img-responsive"  %>
							</li>
            </ul>
					</div>
				 </div>
					 <div class="details-left-info">
							<h3>shoes</h3>
								<h4>Model No: 3</h4>
							<h4></h4>
							<p><label>$</label> 300 <a href="#">Click for offer</a></p>
							<p class="size">SIZE ::</p>
							<a class="length" href="#">L</a>
							<a class="length" href="#">M</a>
							<a class="length" href="#">S</a>
							<div class="btn_form">
								<a href="cart.html">buy now</a>
								<a href="cart.html">ADD TO CART</a>
							</div>
							<div class="shoes-type">
							<p>TYPE  ::<a href="#">Shoes</a></p>
							<p>BRAND  ::<a href="#">SWbrand</a></p>
							</div>
							<h5>Description  ::</h5>
							<p class="desc"></p>
					 </div>
					 <div class="clearfix"></div>				 	
				  </div>
			  </div>
		  </div>
		  <div class="single-bottom2">
			  <h6>Related Products</h6>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <%= image_tag "4.jpg", class: "img-responsive " , alt: "" %>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="#">Shoes</a></h5>
								<p class="product_descr"> other shoes </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$300.51</span>
							<a class="button1" href="cart.html"><span>Add to cart</span></a>
					 </div>
						<div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <%= image_tag "2.jpg", class: "img-responsive " , alt: "" %>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="liste.html"></a></h5>
								<p class="product_descr"> other shoes2 </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$1500.51</span>								
							<a class="button1" href="cart.html"><span>Add to cart</span></a>
					 </div>
				  <div class="clearfix"></div>
			 </div>
			 
			  </div>
		 </div>	
	 </div>
</div>
