<!-- PAGE PROFIL -->
<div class="body-wrap" data-template-mode="cards">
	<div id="st-container" class="st-container">
		<div class="st-pusher">
			<div class="st-content">
				<div class="st-content-inner">
					<section class="slice-sm sct-color-1">
						<div class="profile">
							<div class="container">
								<div class="row cols-xs-space cols-sm-space cols-md-space">
									<div class="col-lg-4">
										<div class="sidebar sidebar--style-2 no-border stickyfill">
											<div class="widget">
												<div class="profile-picture profile-picture--style-2">
													<%if @user.avatar? %>
													<img src="<%=@user.avatar%>" class="img-center">
													<% else %>
													<%= image_tag("plus.png") %>
													<% end -%>
												</div>
												<div class="profile-details">
													<h2 class="heading heading-4 strong-500 profile-name">
														<%= @user.username.capitalize %>
														
													</h2>
													<h3 class="heading heading-6 strong-400 profile-occupation mt-3">Founder, Web Developer</h3>
													<h3 class="heading heading-light heading-6 strong-400 profile-location"><%= @user.sex + " " + @user.city.capitalize %> </h3>
												</div>

												<% if user_signed_in? %>

												<% if params[:id].to_i != current_user.id %>
												<div class="profile-connect mt-4">
													<a href='<%= new_message_path(profil_id: params[:id]) %>' class="btn btn-styled btn-block btn-rounded btn-base-2">Message</a>
												</div>

												<% if user_signed_in? %>
												<% if Favorite.find_by(main_user_id: current_user.id, favorite_user_id: @user.id) %>
												<%= link_to "Se désabonner", favorite_path(id: @user), method: :delete, class: "btn btn-styled btn-danger btn-shadow btn-circle px-4 mt-2" %>
												<% else %>
												<%= link_to "S'abonner", add_favorite_path(id: @user), method: :get, class: "btn btn-styled btn-success btn-shadow btn-circle px-4 mt-2" %>
												<% end %>
												<% end %>


												<% else %>
												<div class="profile-connect mt-4">
													<a href='<%= messages_path %>' style="width: 180px" class="btn btn-styled btn-primary">Messagerie</a><br><br>
													<% if current_user.phone_verified == false %>
													<a href='<%= verification_number_path %>' style="width: 180px" class="btn btn-styled btn-success">Vérifier numéro</a>
													<% elsif %>
													<%= image_tag "smartphone.png" %>
													<%= image_tag "checked.png" %>
													<% end %>
												
												<br><br>
													<% if @user.premium_user == false %>
													<%= link_to "Devenir Premium", new_charge_path, class:"btn btn-styled btn-warning" %>
													<% else %>
													<button  style="width: 180px" type="button" class="btn btn-styled btn-warning">Premium</button>
													<% end %>
												</div>
												<% end %>
												<% end %>
												<!-- Profile stats -->
												<div class="profile-stats clearfix">
													<div class="stats-entry">
														<span class="stats-count"><%=@user.articles.count%></span>
														<span class="stats-label text-uppercase">Articles à échanger</span>
													</div>
													<div class="stats-entry">
														<span class="stats-count"><%= @followers %></span>
														<span class="stats-label text-uppercase">Followers</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-8">
										<div class="main-content">
											<div class="tabs tabs--style-1" role="tabpanel">
												<!-- Nav tabs -->
												<ul class="nav nav-tabs" role="tablist">
													<li class="nav-item" role="presentation">
														<a href="#tabFour-1" aria-controls="home" role="tab" data-toggle="tab" class="nav-link active text-center text-uppercase strong-600">Articles</a>
													</li>
													<% if user_signed_in? %>
													<% if params[:id].to_i == current_user.id %>
													<li class="nav-item" role="presentation">
														<a href="#tabFour-2" aria-controls="profile" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-600">Echanges</a>
													</li>
													<% end -%>
													<% end -%>
													<li class="nav-item" role="presentation">
														<a href="#tabFour-3" aria-controls="messages" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-600">Favoris</a>
													</li>
													<%if user_signed_in?%>
													<li class="nav-item" role="presentation">
														<a href="#tabFour-4" aria-controls="messages" role="tab" data-toggle="tab" class="nav-link text-center text-uppercase strong-600">Liked</a>
													</li>
													<% end -%>
												</ul>

												<!-- Tab panes -->
												<div class="tab-content">
													<div role="tabpanel" class="tab-pane active" id="tabFour-1">
														<div class="tab-body">
															<div class="widget mt-4">
																<div class="row-wrapper">
																	<div class="row cols-md-space cols-sm-space cols-xs-space">

																		<% @user.articles.each do |article| %>
																		<div class="col-lg-4">
																			<div class="block block--style-3">
																				<div class="profile-picture profile-picture--style-2">
																					<img src="<%= article.image %>" >
																				</div>
																				<div class="block-body text-center">

																					<h3 class="heading heading-6 strong-600 mb-0 mb-0"><%= article.title.first(14)%>
																						<% if article.title.size >= 13 %>
																						<%="..."%>
																						<%end%>
																					</h3>

																					<h3 class="heading heading-light heading-sm strong-300"><%= article.category.name %></h3>

																					<a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Follow</a>
																				</div>
																				<div class="aux-info-wrapper border-top">
																					<ul class="aux-info">
																						<li class="heading strong-400 text-center">Size
																							<span class="d-block strong-600"><%= article.size %></span>

																						</li>
																						<li class="heading strong-400 text-center">
																							<span class="d-block strong-600">5</span>
																							Like
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																		<% end %>
																		<% if user_signed_in? %>

																		<% if params[:id].to_i == current_user.id && current_user.articles.count <= 2%>
																		<div class="col-lg-4">
																			<div class="block block--style-3">
																				<div class="profile-picture profile-picture--style-2">
																					<%= link_to '/articles/new' do %>
																					<%= image_tag("plus.png") %>
																					<% end %>
																				</div>
																				<div class="block-body text-center">

																					<h3 class="heading heading-6 strong-600 mb-0 mb-0">Un article supplementaire ?
																					</h3>

																					<h3 class="heading heading-light heading-sm strong-300"></h3>
																				</div>
																			</div>
																		</div>
																		<% end -%>
																		<% end -%>
																	</div>
																</div>
															</div>
														</div>
													</div>










													<div role="tabpanel" class="tab-pane" id="tabFour-2">
														<div class="tab-body">
															<table class="table table-hover align-items-center">
																<thead>

																	<th>Votre article</th>
																	<th>Votre choix </th>

																</thead>

																<tbody>
																	<%@exchange.each do |article|%>
																	<tr>
																		<td><img src= "<% article[0].image -%>", height="60" width="60"> <%= article[0].title -%> qui appartient à <%= User.find(article[0].user_id).last_name -%></td>
																		<td><img src= "<% article[1].image -%>", height="60" width="60"> <%= article[1].title -%> qui appartient à <%= User.find(article[1].user_id).last_name -%></td>
																	</tr>
																	<% end %>
																</tbody>
															</table>



														</div>
													</div>
													<div role="tabpanel" class="tab-pane" id="tabFour-3">
														<div class="tab-body">
															<p class="mt-4">
																Detractis detrahere concipere ac ut et inveniant to. Im perductae ut at ecclesiae assentiri eo. Ea ergo ausi ac otii suas. Utrum me sequi falsi ut atque. Existeret conformes his rei scientiis. Virorum corpora hac iis brachia
															</p>
															<p>
																Viam sumi mo id erit. Objectioni mo de necessario crediderim. Imo terra vox alios aut lor quasi. Vim quaero aut videri pendam plures duo. Extat neque arcte re ad etiam.
															</p>
														</div>
													</div>

													<%if user_signed_in?%>
													<div role="tabpanel" class="tab-pane" id="tabFour-4">
														<div class="body-wrap" data-template-mode="cards">
															<% @mes_likes -%>
														</div>
													</div>
												</div>
											</div>
											<% end -%>
										</div>
									</div>
									<!-- Order history table -->
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>


		</div>

	</div>
</div>
</div>
</div>
