
<h2><center><strong><i>Le User</i></strong></center></h2>

<img src = "<%= @user.avatar %>">
<h3>Nom: <%= @user.first_name %><br>

Prenom: <%= @user.last_name %> </h3><br>

<i>Tel: <%= @user.phone %> <br>
date de naissance: <%= @user.birth_date %></i><br>
<br>
email: <%= @user.email %><br>


mes articles:<br>
<% @user.articles.each do |article| %>
________________________________ <br>

Taille de l'article : <%= article.size %> <br>
<img src = "<%= article.image %>">

Description de l'article : <%= article.description %> <br>
<% end %>


