<!-- PAGE PROFIL -->
<div class="body-wrap" data-template-mode="cards">
	<div id="st-container" class="st-container">
		<div class="st-pusher">
			<div class="st-content">
				<div class="st-content-inner">
					<section class="slice-sm sct-color-1">
						<div class="profile">
							<div class="container">
								<div class="row cols-xs-space cols-sm-space cols-md-space">
									<div class="col-lg-4">
										<div class="sidebar sidebar--style-2 no-border stickyfill">
											<div class="widget">
												<!-- Profile picture -->
												<div class="profile-picture profile-picture--style-2">
													<img src="../../assets/images/prv/people/person-7.jpg" class="img-center">
													<a href="#" class="btn-aux">
														<i class="ion ion-edit"></i>
													</a>
												</div>

												<!-- Profile details -->
												<div class="profile-details">
													<h2 class="heading heading-4 strong-500 profile-name"><%= @user_names %></h2>
													<h3 class="heading heading-6 strong-400 profile-occupation mt-3">Founder, Web Developer</h3>
													<h3 class="heading heading-light heading-6 strong-400 profile-location">Bucharest, Romania</h3>
												</div>
												<%= @user.first_name %>

												<% if params[:id].to_i != current_user.id %>
												<div class="profile-connect mt-4">
													<a href="#" class="btn btn-styled btn-block btn-rounded btn-base-1">Follow</a>
													<a href='<%= new_message_path(id: params[:id]) %>' class="btn btn-styled btn-block btn-rounded btn-base-2">Message</a>
												</div>
												<% else %>
												<div class="profile-connect mt-4">
													<a href='<%= messages_path %>' class="btn btn-styled btn-block btn-rounded btn-base-2">Messagerie</a>
                          <a href='<%= verification_number_path %>' class="btn btn-styled btn-block btn-rounded btn-base-2">Vérifié Mon Téléphone</a>
												</div>
												<%end%>
												<!-- Profile stats -->
												<div class="profile-stats clearfix">
													<div class="stats-entry">
														<span class="stats-count"><%=@user.articles.count%></span>
														<span class="stats-label text-uppercase">Articles à échanger</span>
													</div>
													<div class="stats-entry">
														<span class="stats-count">1.3K</span>
														<span class="stats-label text-uppercase">Followers</span>
													</div>
												</div>
												<!-- Profile connected accounts -->
												<div class="profile-useful-links clearfix">
													<div class="useful-links">
														<a href="#" class="link link--style-1">
															<i class="icon ion-social-instagram-outline"></i>
															instagram.com/webpixels_io
														</a>
														<a href="#" class="link link--style-1">
															<i class="icon ion-social-dribbble"></i>
															dribbble.com/webpixels
														</a>

														<a href="#" class="link link--style-1">
															<i class="icon ion-earth"></i>
															webpixels.io
														</a>
													</div>
												</div>


											</div>
										</div>
									</div>

									<div class="col-lg-8">
										<div class="main-content">
											<!-- Page title -->
											<div class="page-title">
												<div class="row align-items-center">
													<div class="col-lg-6 col-12">
														<h2 class="heading heading-6 strong-600 mb-0 text-capitalize strong-500 mb-0">
															<a href="#" class="link text-underline--none">
																<i class="ion-ios-arrow-back"></i> Orders
															</a>
														</h2>
													</div>
													<div class="col-lg-6 col-12">

													</div>
												</div>
											</div>

											<div class="link-menu link-menu--style-3 py-4 border-bottom">
												<a href="../../pages/profile/account-settings.html">Settings</a>
												<a href="../../pages/profile/account-orders.html">Orders</a>
												<a href="../../pages/profile/account-cards.html">Cards</a>
												<a href="../../pages/profile/account-security.html">Security</a>
												<a href="../../pages/profile/account-connections.html" class="active">Connections</a>
											</div>

											<!-- Order history table -->
											<div class="widget mt-4">
												<div class="row-wrapper">
													<div class="row cols-md-space cols-sm-space cols-xs-space">

														<% @user.articles.each do |article| %>
														<div class="col-lg-4">
															<div class="block block--style-3">
																<div class="profile-picture profile-picture--style-2">
																	<img src="../../assets/images/prv/people/person-1.jpg" >
																</div>
																<div class="block-body text-center">

																	<h3 class="heading heading-6 strong-600 mb-0 mb-0"><%= article.title.first(14)%>
																		<% if article.title.size >= 13 %>
																		<%="..."%>
																		<%end%>
																	</h3>

																	<h3 class="heading heading-light heading-sm strong-300"><%= article.category.name %></h3>

																	<a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Follow</a>
																</div>
																<div class="aux-info-wrapper border-top">
																	<ul class="aux-info">
																		<li class="heading strong-400 text-center">Size
																			<span class="d-block strong-600"><%= article.size %></span>

																		</li>
																		<li class="heading strong-400 text-center">
																			<span class="d-block strong-600">5</span>
																			Like
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<% end %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- FOOTER -->
					<footer id="footer" class="footer">
						<div class="footer-top">
							<div class="container">
								<div class="row cols-xs-space cols-sm-space cols-md-space">
									<div class="col-lg-5">
										<div class="col">
											<img src="../../assets/images/logo/logo-1-c.png">
											<span class="clearfix"></span>
											<span class="heading heading-sm c-gray-light strong-400">One template. Infinite solutions.</span>
											<p class="mt-3">
												All the components included in Boomerang are built to the same level of quality as Bootstrap and highlighted with several example pages.
											</p>

											<div class="copyright mt-4">
												<p>
													Copyright &copy; 2018                                <a href="https://webpixels.io" target="_blank">
														<strong>Webpixels</strong>
													</a> -
													All rights reserved
												</p>
											</div>
										</div>
									</div>

									<div class="col-lg-2">
										<div class="col">
											<h4 class="heading heading-xs strong-600 text-uppercase mb-1">
												Support
											</h4>

											<ul class="footer-links">
												<li><a href="#" title="Help center">Help center</a></li>
												<li><a href="#" title="Discussions">Discussions</a></li>
												<li><a href="#" title="Contact support">Contact</a></li>
												<li><a href="#" title="Blog">Blog</a></li>
												<li><a href="#" title="Jobs">FAQ</a></li>
											</ul>
										</div>
									</div>

									<div class="col-lg-2">
										<div class="col">
											<h4 class="heading heading-xs strong-600 text-uppercase mb-1">
												Company
											</h4>

											<ul class="footer-links">
												<li>
													<a href="#" title="Home">
														Home
													</a>
												</li>
												<li>
													<a href="#" title="About us">
														About us
													</a>
												</li>
												<li>
													<a href="#" title="Services">
														Services
													</a>
												</li>
												<li>
													<a href="#" title="Blog">
														Blog
													</a>
												</li>
												<li>
													<a href="#" title="Contact">
														Contact
													</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="col-lg-3">
										<div class="col">
											<h4 class="heading heading-xs strong-600 text-uppercase mb-1">
												Get in touch
											</h4>

											<ul class="social-media social-media--style-1-v4">
												<li>
													<a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
														<i class="fa fa-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
														<i class="fa fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Dribbble">
														<i class="fa fa-dribbble"></i>
													</a>
												</li>
												<li>
													<a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Github">
														<i class="fa fa-github"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div><!-- END: st-pusher -->
	</div><!-- END: st-container -->
</div><!-- END: body-wrap -->
>>>>>>> ahmed
