<% if @user.phone_verified == true %>
<h2>Votre numéro est maintenant vérifié</h2>
<a href='<%= root_path %>' class="btn btn-styled btn-block btn-rounded btn-base-2">Retourner à la page d'acceuil</a>
<%elsif%>



<h5>Nous avons envoyé un code de confirmation à <%= @phoneuser %> </h5>
<h6> Veuillez l'entrez ci-dessous </h6>





<%= @test%>

<%= form_tag url_for(action: 'verification_number') do %>
<div class="field">
	<%= text_field_tag 'text' %>
	<div class="actions">
		<br>
		<%= submit_tag "send" %>
	</div>

</div>
<% end %>


<h4>Si vous souhaitez changer de numero de telephone :</h4>
<%= form_tag url_for(action: 'verification_number'), method: "post" do %>
<div class="field">
	<%= text_field_tag 'new' %>
	<div class="actions">
		<br>
		<%= submit_tag "send" %>
	</div>
	<% end %>
</div>
<%else%>
<h2> Desole, <br> <%= @user.phone%> ne semble pas etre un numero de telephone valide. S'il vous plait veuillez indiquer un numero de telephone sur lequel vous pouvez recevoir des appels et des sms. </h2>
<%= form_tag url_for(action: 'authentificate'), method: "post" do %>
<div class="field">
	<%= text_field_tag 'new' %>
	<div class="actions">
		<br>
		<%= submit_tag "send" %>
	</div>
	<% end %>
</div>
<% end %>
