
<div class="header">
	<div class="top-navbar">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<span class="aux-text d-none d-md-inline-block">
						<ul class="inline-links inline-links--style-1">
							<li class="d-none d-lg-inline-block">
								Bonjour <%= @user_names %> </li>
							</ul>
						</span>
					</div>
					<div class="col-md-6">
						<nav class="top-navbar-menu">
							<ul class="top-menu">
								<% if user_signed_in? %>
								<li style="margin-top: 3.8%; font-size: 80%"%><%="Connecté"%></li>
								<li><%= link_to 'Profil', user_path(@user.id) %></li>
								<li><%= link_to 'Boite de reception', messages_path %></li>

								<li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
								<%else%>

								<li><%= link_to 'Se connecter', new_user_session_path %></li>
								<li><%= link_to "S'enregistrer" , new_user_registration_path%></li>
								<%end%>
								<!-- <li><a href="#" class="btn-st-trigger" data-effect="st-effect-1"><i class="fa fa-ellipsis-h"></i></a></li> -->
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Global Search -->
		<section id="sctGlobalSearch" class="global-search global-search-overlay">
			<div class="container">
				<div class="global-search-backdrop mask-dark--style-2"></div>
				<!-- Search form -->
				<form class="form-horizontal form-global-search z-depth-2-top" role="form">
					<div class="px-4">
						<div class="row">
							<div class="col-12">
								<input type="text" class="search-input" placeholder="Type and hit enter ...">
							</div>
						</div>
					</div>
					<a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
				</form>
			</div>
		</section>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default ">
			<!-- Brand/Logo -->
			<ul class="navbar-nav">
				<li class="nav-item dropdown megamenu">
					<%= image_tag('sw&t_logo.png',  width: 140, height: 100, :class => 'logo logo-light hidden-md-down') %>
				</li>
			</ul>
			<div class="container navbar-container">
				<a class="nav-link"  href='<%= root_path %>'><h2 style="margin-left: -30%; margin-top: 6%; color:black"><b>Street Wear & Trade</b></h2></a>
			</a>
			<div class="d-inline-block">
				<!-- Navbar toggler  -->
				<button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
			<div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
				<!-- Navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item dropdown megamenu">
						<a style="font-size: 150%;  color: black" class="nav-link"  href='<%= users_path %>'>Les tradeurs</a>
					</a>
				</li>
										<!-- <li class="nav-item dropdown">
											<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Pages
											</a>

											<div class="dropdown-menu dropdown-menu-xl py-0 px-0 overflow--hidden" aria-labelledby="navbar_1_dropdown_1">
												<div class="list-group rounded">
													<a href="../../pages-home.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Home pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a>
													<a href="../../pages-inner.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Inner pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a>
													<a href="../../pages-profile.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Profile pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a>
													<a href="../../pages-blog.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Blog pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a>
													<a href="../../pages-shop.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Shop pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a>
													<a href="../../pages-real-estate.html" class="list-group-item list-group-item-action d-flex align-items-center">
														<div class="list-group-content">
															<div class="list-group-heading heading heading-6 mb-1">Real estate pages</div>
															<p class="text-sm mb-0">Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor</p>
														</div>
													</a> 
												</div>
											</div>
										</li> -->
										<li class="nav-item dropdown megamenu">
											<a style="font-size: 150%; color: black" class="nav-link" href='<%= articles_path %>''>
												Les articles
											</a>
										</li>
										<!-- <li class="nav-item dropdown megamenu">
											<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Components
											</a>

											<div class="dropdown-menu">
												<div class="mega-dropdown-menu row row-no-padding">
													<div class="mega-dropdown-col mega-dropdown-col-cover mega-dropdown-col-cover--left col-lg-5 d-none d-lg-block d-xl-block" style="background-image: url(../../assets/images/prv/other/img-14-1000x900.jpg); background-position: center center;">
														<span class="mask mask-base-1--style-1 alpha-8"></span>
														<div class="mega-dropdown-col-inner d-flex align-items-center no-padding">
															<div class="col">
																<div class="row align-items-center">
																	<div class="col-12">
																		<div class="px-4">
																			<h2 class="heading heading-2 strong-600 c-white">
																				Documentation and Shortcodes
																			</h2>
																			<p class="strong-300 c-white mt-4">
																				Get started fast and easy with Boomerang using the documentation and shortcode examples. No matter
																				you are a developer or new to web design, you will
																				find our theme very easy to customize with
																				an intuitive HTML markup.
																			</p>
																			<div class="btn-container mt-5">
																				<a href="../../documentation/getting-started/introduction.html" target="_blank" class="btn btn-styled btn-white btn-outline btn-circle">Read the Docs</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-4 col-lg-2 ml-lg-auto">
														<ul class="megadropdown-links">
															<li>
																<a class="dropdown-item" href="../../documentation/components/alerts.html">
																	Alerts
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/badges.html">
																	Badges
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/buttons.html">
																	Buttons
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/cards.html">
																	Cards
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/collapse.html">
																	Collapse
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/countdown.html">
																	Countdown
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/dropdown.html">
																	Dropdowns
																</a>
															</li>

															<li>
																<a class="dropdown-item" href="../../documentation/components/forms.html">
																	Forms
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/instagram.html">
																	Instagram
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/lightbox.html">
																	Lightbox
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/maps.html">
																	Maps
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/masonry.html">
																	Masonry
																</a>
															</li>
														</ul>
													</div>

													<div class="col-md-4 col-lg-2">
														<ul class="megadropdown-links">
															<li>
																<a class="dropdown-item" href="../../documentation/components/pagination.html">
																	Pagination
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/progress.html">
																	Progress bars
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/recaptcha.html">
																	Recaptcha
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/content/titles.html">
																	Section titles
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/forms.html#ex_component_sliders">
																	Sliders
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/tabs.html">
																	Tabs
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/components/typed-animations.html">
																	Typed animations
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/headers.html">
																	Headers
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../html/default/sliders/boomerang-slider/index.html">
																	Boomerang slider
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../html/default/sliders/revolution-slider/index.html">
																	Revolution slider
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/footers.html">
																	Footers
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/hero.html">
																	Hero blocks
																</a>
															</li>
														</ul>
													</div>

													<div class="col-md-4 col-lg-2">
														<ul class="megadropdown-links">

															<li>
																<a class="dropdown-item" href="../../documentation/blocks/icon.html">
																	Icon blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/jobs.html">
																	Job blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/pricing.html">
																	Pricing blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/product.html">
																	Product blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/real-estate.html">
																	Real-Estate blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/team.html">
																	Team blocks
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="../../documentation/blocks/testimonials.html">
																	Testimonial blocks
																</a>
															</li>

															<li>
																<a class="dropdown-item" href="../../documentation/blocks/comments.html">
																	Comment blocks
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li> -->
									</ul>

									<!-- <ul class="navbar-nav ml-lg-auto">
										<li class="nav-item">
											<a href="../../documentation/getting-started/introduction.html" class="nav-link">
												Docs
											</a>
										</li>
									</ul> -->
								</div>


								<!-- <div class="pl-4 d-none d-lg-inline-block">
									<a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle" target="_blank">
										Purchase now
									</a>
								</div> -->
							</div>
						</nav>
					</div>