<!-- PAGE D'ACCEUIL -->


<div style="float: right;"><h2><%= link_to 'Se connecter', new_user_session_path %> <%= link_to "S'enregistrer" , new_user_registration_path%>

	<% if user_signed_in? %>

	<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>

	<%end%>

</h2>



</div>
<br>
<center><h1>Page d'accueil Titre du site</h1></center>
<h2>Banniere avec une explication en une phrase d'accroche</h2>
<h3>Texte explicatif</h3>




<%= link_to 'Les messages', new_message_path %>
<br>
<%= link_to 'Les Users', users_path %>
<br>
<%= link_to 'Mes échanges', exchanges_path %>
